# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.gabriel
*@*
*.0???
*.__i
*.tmp
*._ac
RTE_Components.h
Objects/*
JLinkLog.txt
Pre_Include_Global.h
RTE/Device/R7FA8D1BH/startup_RA.c
RTE/Device/R7FA8D1BH/system_RA.c
*.ttf
JLinkLog.txt
RTE_Components.h
Pre_Include_Global.h
*.uvguix.*
